---
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";

const EXPERIENCE = [
   {
    title: "Unifying Student Communication",
    company: "Communication Strategy",
    date: "Current Focus",
    description:
      "Bringing chatbot, contact center, and outreach efforts into a more cohesive student communication strategy.",
  },
  {
    title: "Measuring Engagement + Resolution",
    company: "Analytics + Outcomes",
    date: "Current Focus",
    description:
      "Building clearer ways to understand outcomes across systems, including engagement patterns and resolution-focused metrics like DRR.",
  },
  {
    title: "Reducing System Fragmentation",
    company: "Systems Alignment",
    date: "Current Focus",
    description:
      "Exploring ways to make disconnected student-facing tools feel more aligned across Banner, Navigate, and support systems.",
  },
  {
    title: "Building Scalable Workflows",
    company: "Process Design",
    date: "Current Focus",
    description:
      "Designing repeatable outreach and coaching processes that reduce manual effort while improving consistency and visibility.",
  },
];
---

<section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="experience">
  <div class="flex flex-col pt-8 max-w-4xl mx-auto">
    <div class="flex gap-4 items-center justify-center">
      <Icon class="text-3xl dark:text-white text-blacktext" name="briefcase" />
      <Heading text="What I'm " textGradient="Focused On" level={2} />
    </div>

    <div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
      <ol class="relative mt-10">
        {
          EXPERIENCE.map((experience, index) => (
            <li>
              <article
                role="article"
                aria-labelledby={`experience-title-${index}`}
              >
                <div
                  class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
                  aria-describedby={`experience-title-${index}`}
                >
                  <ExperienceItem {...experience} />
                </div>
              </article>
            </li>
          ))
        }
      </ol>
    </div>
  </div>
</section>